page-login {
    .login{ 
        margin: 10% 0;
    }

    .tamanho_botao{
        padding: 0px 30px;
    }

    .scroll-content {
        background: #373435;
    }

    .professor{
        border:#ffcc29  2px solid;
        color: #ffffff;
    }
}
    
