page-home {
    #facebook{
        background-color:#4460a0;
        color: white; 
    }

    #Google{
        background-color:#ec3900; 
        color: white;
    }

    #Linkedin{
        background-color:#0077b5; 
        color: white;
    }

    .login{ 
        margin: 10% 0;
    }

    .tamanho_botao{
        padding: 0px 30px;
    }
}
