page-home {
    .login{ 
        margin: 10% 0;
    }

    .tamanho_botao{
        padding: 0px 30px;
    }

    .aluno{
        background-color: #013854; 
    }

    .professor{
        border: #013854 2px solid;
        color: black;
    }
}
