<ion-header>

  <ion-navbar>
    <ion-title ng-if="treinamento.nome">{{treinamento?.nome}}</ion-title>
    <ion-title ng-if="!treinamento.nome">Novo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formTreinamento" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Nome do treinamento</ion-label>
            <ion-input type="text" formControlName="treinamento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-1>
          <ion-fab center right edge>
            <button ion-fab mini (click)="addItem(formTreinamento.value)" [disabled]="!formTreinamento.valid">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>

        <ion-col col-11>
          <ion-item>
            <ion-label floating>Exercícios</ion-label>
            <ion-input type="text" formControlName="exercicio" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Série</ion-label>
            <ion-input type="number" min="0" formControlName="serie" required></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label floating>repetições</ion-label>
            <ion-input type="number" min="0" formControlName="repeticao"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <ion-list>
    <ion-list-header>
      Treinamentos cadastrados
    </ion-list-header>
    <ion-item *ngFor="let exercicios of exerciciosCadastrados">
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            {{exercicios?.exercicio}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4>
            {{exercicios?.serie}}
          </ion-col>

          <ion-col col-4>
            {{exercicios?.repeticao}}
          </ion-col>

          <ion-col col-2>
            <button ion-button color="primary" clear icon-only (click)="alterarItem(exercicios)">
              <ion-icon name='create' is-active="false"></ion-icon>
            </button>
          </ion-col>

          <ion-col col-2>
            <button ion-button color="danger" clear icon-only (click)="removeItem(exercicios)">
              <ion-icon name='trash' is-active="false"></ion-icon>
            </button>
          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-item>
  </ion-list>

  <button ion-button class="background-color" block>Salvar</button>
</ion-content>