<ion-header>

  <ion-navbar>
    <ion-title>Novo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #form="ngForm" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Nome do treinamento</ion-label>
            <ion-input type="text" name="treinamento" ngModel required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-auto>
          <button ion-button round color="light" (click)="addItem(form.value)" [disabled]="!form.valid">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-11>
          <ion-item>
            <ion-label>Exercicio</ion-label>
            <ion-select name="exercicio" ngModel required>
              <ion-option *ngFor="let exercicio of exercicios" [value]="exercicio">{{exercicio.nome}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Série</ion-label>
            <ion-input type="number" min="0" name="serie" [ngModel]="serie"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label floating>repetições</ion-label>
            <ion-input type="number" min="0" name="repeticao" [ngModel]="repeticao"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <ion-list>
    <ion-list-header>
      Treinamentos cadastrados
    </ion-list-header>
    <ion-item *ngFor="let listaExercicios of exerciciosCadastrados">
      <ion-grid>
        <ion-row (click)="alterarItemExercicio(listaExercicios)">
          <ion-col col-12>
            {{listaExercicios.exercicio?.nome}}
          </ion-col>
        </ion-row>

        <ion-row (click)="alterarItemSerieExercicio(listaExercicios)">
          <ion-col col-4>
            <div class="spacer" id="cameraTabDefaultPage-spacer1"></div>
            {{listaExercicios?.serie}}
          </ion-col>

          <ion-col col-4>
            <div class="spacer" id="cameraTabDefaultPage-spacer1"></div>
            {{listaExercicios?.repeticao}}
          </ion-col>

          <ion-col col-auto>
            <button ion-button color="danger" clear icon-only (click)="removeItem(listaExercicios)">
              <ion-icon name='trash' is-active="false"></ion-icon>
            </button>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-item>
  </ion-list>

  <button ion-button class="background-color" block>Salvar</button>
</ion-content>