<!--
  Generated template for the CadastroTreinamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title ng-if="treinamento.nome">{{treinamento?.nome}}</ion-title>
    <ion-title ng-if="!treinamento.nome">Novo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item color="none">
      <ion-label floating>Serie</ion-label>
      <ion-input type="text" name="serie" [value]=""></ion-input>
    </ion-item>

    <ion-item color="none">
      <ion-label floating>Repetição</ion-label>
      <ion-input type="text" name="repeticao" [value]=""></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button class="background-color">Salvar</button>
</ion-content>